.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2vw;
}

.row {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

.main {
  display: flex;
  margin: 20px;
  flex-direction: row;
  justify-content: space-around;
}

.controls {
  display: flex; 
  left:0;
}

.history {
  width: 13vw;
  max-height: 85vh;
  overflow-y: auto;
  position: fixed;
  right: auto;
  left: 70%;
}

.history > div {
  background-color: gold;
  margin-bottom: 5px;
  border-radius: 5px;
  height: 25px;
  width: 150px;
  /* overflow: hidden; */
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.game-board {
  display: grid;
  grid-auto-columns: 50px;
  max-width: 50vw;
  position: fixed;
  right: 45%;

}

.mapRow {
  display: grid;
  grid-auto-flow: row;
  grid-auto-columns: 50px;

}

.mapTile {
display: block;
width: fit-content;
height: auto; 
border: .5px;
border-color: black;
border-style: solid;
width: 50px;
height: 50px;
}

.mapTile::after {
  content: ' ';
}
